:root {
    --blue: #2242c7;
    --blue-light: #6463E7;
    --blue-strong: #222184;
    --grey: #a5a5c6;
    --grey-light: #c6c6e6;
    --grey-strong: #636384;
    --black: #212121;
    --red: #e60601;
    --red-strong: #840201;
    --orange: #e7a584;
    --orange-strong: #a56342;
    --white: #ffffff;
}